<html>
<head>
<title>Chat Room</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

	<link rel="stylesheet" type="text/css" href="style.css">

	<script type ="text/javascript" src="/socket.io/socket.io.js"></script>

	<script src="main.js"></script>
	<script src="filter.js"></script>

</head>
<body>
	<div class = 'row'>
		<div class = 'col-xs-1'></div>
		<div class = 'col-xs-8 chat'>
			<h1>Conversation Board</h1>
			<div id = 'conversation_board'>
				<ul id = 'chatroom'>
					<!-- Name/message in li here... -->
				</ul>
			</div>
			<form id = 'new_message'>
				<input id = 'message' type = 'text'>
				<input type = 'submit' value = 'Post message to chatroom'>
			</form>
		</div>
		<div id = 'user_table' class ='col-xs-3'>
			<h1>Users</h1>
			<ul id = 'user_list'>
			</ul>
		</div>
	</div>
	<div class = 'row'>
		<div class = 'col-xs-2'></div>
		<div class = 'col-xs-6 form'>
			<h1>Welcome to GroupChat. Please enter your name.</h1>
			<div class = 'row'>
			</div>
			<form id = "new">
				<input class="form-control" type = 'text' name = 'name' id = 'name'>
				<input type = 'submit' value = 'Submit'>
			</form>
		</div>
	</div>

</body>
</html>